fastapi==0.115.6
uvicorn[standard]==0.32.1
httpx==0.28.1
psycopg2-binary==2.9.10
pymysql==1.1.1
DBUtils==3.1.0
python-dotenv
python-multipart==0.0.20
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
textual
pypdf
google-api-python-client
google-auth

